/* header {
    min-height: 100vh;
    background: url('../../assets/firstPic.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
} */

#img {
    min-height: 80vh;
    background: url("../../assets/tik_vid_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20vh;
}

/* Styles for phones */
@media (max-width: 768px) {
    /* Add your phone-specific styles here */
    /* header .cta {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
    } */
}

/* Styles for computers */
@media (min-width: 769px) {
    /* Add your computer-specific styles here */
    /* header {
    min-height: 80vh;
    background: url("../../assets/tik_vid_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    } */

}

header .wrapper {
    position: relative;
    height: 60vh;
}

/* header .cta .start-planning {
    border-radius: 10px;
    background: var(--white-color);
    color: black;
    padding: 7px 32px;
    font-weight: 400;
} */

/* header .cta .start-button {
    margin-top: 40px;
} */

header .welcome-message {
    font-family: "Cormorant", serif;
}

.italic {
    font-style: italic;
}
